body {
    background: #4DD0E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    background: dimgrey;
    margin: 1em;
    color: white;
    border-collapse:collapse;
}
td{
    padding: 0.5em;
}
tbody tr:nth-child(even) {
    background-color: #272626;
}
tbody tr:nth-child(odd) {
    background-color: #434242;
}
.detalle{
    background: #2f95bb;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}
.detalle:hover{
    background-color: #176c8b;
}
.detalle:active {
    transform: translateY(1px);}

.borrar{
    background: #e50202;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}
.borrar:hover{
    background-color: #ab0202;
}
.borrar:active {
    transform: translateY(1px);}

.actualizar{
    background: orange;
    border-radius: 5px;
    border: none;
    margin-right: 0.5em;
    padding: 0.5em;
}
.actualizar:hover{
    background-color: #d88c01;
}
.actualizar:active {
    transform: translateY(1px);}

.crear{
    background: green;
    color: white;
    border-radius: 5px;
    border: none;
    margin-left: -24em;
    padding: 0.5em;
}
.crear:hover{
    background-color: #016301;
}
.crear:active {
    transform: translateY(1px);}

.tabladetalle{
    width: 60%;
}
.crear2{
    color: white;
    background: #3737e5;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}
.crear2:hover{
    background-color: #2e2ebf;
}
.crear2:active {
    transform: translateY(1px);}

.limpiar{
    color: white;
    background: #1a8d1a;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}
.limpiar:hover{
    background-color: #126412;
}
.limpiar:active {
    transform: translateY(1px);}

.volver{
    color: white;
    background: #2f95bb;
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}
.volver:hover{
    background-color: #267592;
}
.volver:active {
    transform: translateY(1px);}

.formcrear{
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.inputtext{
    width: 90%;
    border-radius: 5px;
}
.div1 { grid-area: 1 / 1 / 2 / 2;}
.div2 { grid-area: 1 / 2 / 2 / 3;}
.div3 { grid-area: 2 / 1 / 3 / 2;}
.div4 { grid-area: 2 / 2 / 3 / 3;}
.div5 { grid-area: 3 / 1 / 4 / 3;}
.div6 { grid-area: 4 / 1 / 5 / 3; }
select{
    width: 90%;
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
    margin-bottom: 5px;
}

